{
	email sweepy@sweepy.dev

	servers {
		protocol {
			experimental_http3
		}
	}
}

(tls) {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

(headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		Expect-CT "max-age=0, report-uri=\"https://sweepy.report-uri.com/r/d/ct/reportOnly\""
		-Server
	}
}

(errors) {
	handle_errors {
		rewrite * /{http.error.status_code}
		reverse_proxy https://http.cat {
			header_up Host http.cat
		}
	}
}

sweepy.dev {
	import tls
	import headers
	import errors

	root sweepy.dev

	file_server
}

u.sweepy.dev toad.land lime.fan {
	import tls
	import headers
	import errors

	reverse_proxy conspire:8080
}

plex.sweepy.dev {
	import tls
	import headers
	import errors

	reverse_proxy plex:32400
}
